body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f2e0;
    color: #4c3c32;
    
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: sticky;
    top: 0; 
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    max-width: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #4c3c32;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #7e685b;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('../img/cafe-interior.jpg');
    background-size: cover;
    color: white;
    min-height: 50vh;
}

.hero h1 {
    font-size: 36px;
    margin: 20px;
}

.hero h2 {
    font-size: 72px;
    margin: 80px;
}

.hero p {
    font-size: 18px;
}

.cta-button {
    margin: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #7e685b;
}

.featured-products {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}

.featured-products .product {
    text-align: center;
    border: 1px solid #ccc; 
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.featured-products .product img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.featured-products .product p {
    font-size: 16px;
    color: #4c3c32;
    margin-bottom: 10px;
}




.menu {
    padding: 100px 0;
    text-align: center;
}

.menu h2 {
    font-size: 30px;
    margin-bottom: 20px;
}


/* ABOUT US */

.about {
    padding: 75px;
    text-align: center;
    background-color: #ede4d6;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 0 auto 20px auto;
    width: 75%;
}

.about .team {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20px;
    gap: 20px;
}

.about .team-member {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.about .team-member .team-member-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    width: 100%;
    flex: 1;
}

.about .team-member .team-member-box .team-member-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}



/* CONTACT */


.contact {
    padding: 75px;
    text-align: center;
    background-color: #f9f9f9;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info {
    margin-bottom: 40px;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; /* Adjust gap as needed */
}

.contact-form {
    flex: 1;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #7e685b;
}

.map {
    flex: 1;
}

.map h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 10px;
}



/* FOOTER */

footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    font-size: 0.65em;
}

footer .social-media img {
    max-width: 28px;
    padding: 5px;
}

footer .newsletter {
    position: relative;
    display: inline-block;
}

footer .newsletter input[type="email"] {
    font-size: 1em;
    border-radius: 10px; 
    border: 1px solid #ccc;
    padding: 7px; 
    outline: none; 
    transition: border-color 0.3s; 
    padding-right: 100px; 
}

footer .newsletter .subscribe-button {
    font-size: 1em;
    padding: 5px 10px;
    position: absolute;
    right: 3px; 
    top: 50%;
    transform: translateY(-50%);
    height: 85%; 
    border: none;
    background-color: #7e685b;
    color: white;
    border-radius: 8px; 
    padding: 0 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

footer .newsletter .subscribe-button:hover {
    background-color: #5a4a3b;
}

footer quick-link ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 15px;
}

footer quick-link a {
    text-decoration: none;
    color:  #ede4d6;
    font-weight: bold;
    transition: color 0.3s;
}

footer quick-link a:hover {
    color: #7e685b;
}